/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Breadcrumb css start here */
div#breadcrumbs > .container {
        max-width: 1100px;
        margin: 0 auto!important;
        width: 100%!important;
	    padding: 0px 20px;
}
div#breadcrumbs {
    position: absolute;
    top: 140px;
    z-index: +9;
    width: 100%;
    background-color: transparent;
}
div#breadcrumbs > .container span a, div#breadcrumbs > .container span  {
      color: #fff;
      font-weight: bold;
      text-shadow: 0px 0px 4px #000;
      filter: drop-shadow(0px 0px 0px #000);
} 
div#breadcrumbs > .container span a:hover  { 
      color: #c6272c;
      font-weight: bold;    
} 
/*Breadcrumb css end here */
.HomeHours .uabb-infobox-title {
    padding-left: 50px;
}
.uabb-search-form.uabb-search-form-input .icon {
    margin: 15px!important;
    top: 0px!important;
}
.text-icon  .fl-module-content .storename li .address::before{
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}
.fl-page{
	width: auto;
}
div.gform_wrapper .gfield  select {
    -webkit-appearance: none;
    background-image: url(https://americascarpetoutletinc-new.mm-dev.agency/wp-content/uploads/2022/02/drop-down-arrow.png)!important;
    background-position: 99%!important;
    background-size: 8px!important;
    background-repeat: no-repeat!important;
}

.custom_searchHeader .fl-icon i {
    cursor: pointer;
}
.gform_wrapper .gform_body .gfield .math_small input[type=text] {
	max-width: 80px!important;
}
.fl-module .uabb-infobox .uabb-infobox-title-wrap .uabb-infobox-title-prefix {
	font-weight: 700!important;
	font-family: "Spartan",sans-serif!important;
}
.search-row {
	max-width: 1200px;
    margin: 0 auto;
    padding-top: 180px;
}
.plp-view-product {
	text-decoration: none;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1{
    text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p{
    display:inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a{
    width: 200px; 
}
div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}
.container .row .product-detail-layout-6 {
    padding-top: 200px!important;
}
.gform_wrapper.gravity-theme .gfield select.large {
    margin-top: 0px!important;
}
.social-icons li a i{
    font-size: 25px!important;
}
/* .storename li .phone a span:before,
footer .storename li .phone a span:before{
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
footer .storename li .phone a span:before{
    font-size: 18px !important;
    margin-right: 14px;
}
footer .storename li .phone a span{
    font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #fff;
}
footer .storename{
    padding-left: 10px !important;
} */
footer .fa-phone-alt{
    display: none;
}
/* .fl-module-content .storename li .address a{
    color:#b7702f;
}
.fl-module-content .storename li .address a:hover{
    color: #000;
} */
.fl-module-content .fl-rich-text .message a:hover{
    color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover{
    color: #000;
}
.custom_searchModule {
    display: none;
    z-index: 3;
    position: absolute;
    right: 0px;
    left: 0px;
    padding: 5px 20px;
}
.store-opening-hrs-container ul.store-opening-hrs li{
padding: 10px 20% 10px 10px;
list-style: none;
}
div.text,
div.number{
    display: inline-block;
}
/* ul.social-icons {
    text-align: center;
} */
ul.social-icons a{
	color:#93a1aa;
}
.color_variations_slider_1 .slick-track .selected-slide {
    order: -1!important;
}
.color_variations_slider_1 .slick-track {
    display: flex;
}
.facet_filters .facet-wrap>strong {
    border-bottom: 2px solid #c6272c!important;
    color: #c6272c!important;
}
.gform_wrapper .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px !important;
}
footer .storename li .phone a:before{
    content: " ";
    display: none;
}
.footermenu li.menu-item a{
    font-size: 14px;
    line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before{
    font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn{
  transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover{
    transition:all 0.3s;
    -moz-transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before{
    font-size: 1em;
}
.gform_wrapper .top_label .gfield_label {
    line-height: 1.4em;
}
footer .storename a:hover {
    color: #d39b02!important;
}
.social-icons li a:hover i:before {
    color: #d39b02!important;
}
.storename .address p {
    padding-bottom: 0px!important;
}
.fl-content-slider .fl-slide-text > p {
   margin: 0px!important;   
   padding: 0px!important;
   display: none!important; 
}
.fl-content-slider .fl-slide-text > .fl-builder-content {
    margin: 0px!important;
}
@media (min-width:1024px){ 
	.pp-logos-content .logo-slider-prev {
		left: -30px;
	}
	.pp-logos-content .logo-slider-next {
		right: -30px;
	}
}
@media (max-width:1024px){
	.product-detail-layout-6 .product-swatch .toggle-image-thumbnails .toggle-image-holder a {
		margin-left: 20px!important;
	}	
	.locationCol .fl-col-content{
		padding: 0px 20px!important;	
	}
    .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed, .fl-page-header-fixed{
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box{
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before{
        margin-right: 5px !important;
    }
}
@media (min-width: 666px) and (max-width: 992px ){ 
	footer .fl-col.ipad50 {
		width: 50%!important;
		float: left;
		max-width: none;
	}
	.footerRow .fl-col-group:first-child {
		display: flex;
		flex-wrap: wrap;
	}
}
@media (max-width:768px){
		.fl-content-slider .fl-content-slider-wrapper .fl-slide-foreground .fl-slide-text .fl-builder-content  .fl-col-group .fl-module-content  .uabb-infobox-title-wrap h1.uabb-infobox-title {
		 font-size: 30px!important;   
		line-height: 1.4em!important;
	}
	div#breadcrumbs {
		z-index: 999;
	}	
	.slider > .fl-row-content-wrap {
		padding-top: 180px!important;
	}
	.max380 img {
		max-width: 380px!important;
		width: 100%!important;
		margin: 0 auto;
		display: block;
	}
	.infoImgCenter .uabb-module-content.uabb-imgicon-wrap > div {
		text-align: center!important;
	}
	.fl-col .fl-col-content {
		box-shadow: none!important;
	}	
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0;
    }
	.fl-row-content-wrap {
		text-align: center;
	}
	.gfield_captcha_container {
		text-align: left!important;
	}
	.fl-fade-in.fl-animated p,
	.uabb-gf-style .gform_wrapper .gform_footer{
		text-align: center !important;
	}
    .fl-page-header-logo{
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small{
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small{
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content{
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content{
        margin: 0px 10px;
    } 
    footer .fl-icon-text{
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span{
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width  .fl-col-group-equal-height{
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100{
        width: 100%;
    }
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
	.max360 img{
		max-width: 360px !important;
        margin: 0 auto !important;
        float: none;
		width: 100%;
	}
    .max-width-issue > .fl-col-content.fl-node-content{
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li{
        display: block;
    }
    .gform_wrapper .gfield_time_hour i{
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename{
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
	.max-width-issue > .fl-col-content.fl-node-content {
		padding-left: 0px;
		padding-right: 0px;
	}
	.store-opening-hrs-container ul.store-opening-hrs li {
		padding: 10px 10px 10px 10px;
		list-style: none;
	}
	.product-attributes table {
		table-layout: fixed!important;
	}
	
}
@media (max-width:767px){
    .footer-menu .fl-col-small{
        width: 100% !important;
    }

    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
	div#breadcrumbs {
		top: 95px;
	}
}


@media screen and (max-width: 700px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}

@media screen and (max-width: 630px){
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
	.fl-module  .fl-button-group .fl-button-group-buttons {
			flex-direction: column;
	}
}

@media screen and (max-width: 600px){
	.store-opening-hrs-container ul.store-opening-hrs li {
		padding: 10px 2% 10px 10px;
	}
    ul#menu-copyright-bar-menu{
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services{
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
}
@media screen and (max-width: 410px){
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 11px;
    }
}
@media screen and (max-width: 378px){

    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a{
        font-size: 10px;
    }
}
@media screen and (max-width: 374px){
    button#responsive-menu-button.responsive-menu-accessible{
        top: 10px;
    }
    .fl-page-bar{
       display: none;
    }
}